/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}
img {
    max-width: 100%;
}

/* COMMON */
.container-large {
    width: 65%;
}

.container-small {
    width: 50%;
    margin-top: 5em;
}

.flex {
    display: flex;
    justify-content: center;
}

.btn {
    min-width: 200px;
    background-color: #0061ff;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
}

.btn-large {
    padding: 15px 40px;
    
}

li{
    list-style-type: none;
}

/* UTILITIES */

h2 {
    font-size: 4rem;
    margin: 1.5em 0 1.5em;
}

h3 {
    font-size: 2.2rem;
    margin: 0 0 1em;
}

h4 {
    font-size: 1.8rem;
    margin: 2em 0 2em 0;
}

h5 {
    font-size: 1.4rem;
    margin: .8em 0;
}

p {
    font-size: 1.6rem;
    line-height: 1.5em;
}

.bg-green {
    background-color: var(--bg-green);
}

.bg-brown {
    background-color: var(--bg-brown);
}

.bg-blu {
    background-color: var(--bg-blu);
}

.bg-red {
    background-color: var(--bg-red);
}

.bg-red2 {
    background-color: var(--bg-red2);
}

.bg-lightblue {
    background-color: var(--bg-lightblue);
}

.bg-blue {
    background-color: var(--bg-blue);
}

.bg-yellow {
    background-color: var(--bg-yellow);
}

.bg-lightgray {
    background-color: var(--bg-lightgray);
}

svg path{
    fill: white;
  }


/* VARIABLES */
:root {
    /* colors client */
    --bg-green: #a2d39b;
    --bg-brown: #61082b;
    --bg-blu: #0093ce; /*florida*/
    --bg-red: #ff1c1c; /*topps*/
    --bg-red2: #d5001f; /*world bicycle*/
    --bg-lightblue: #b4d0e7; /*hearst*/
    --bg-blue: #0d2481; /*lonely*/
    --bg-yellow: #ffd830;
    --bg-lightgray: #f5f5f5;

}

/* HEADER */

header {
    width: 100%;
    height: 80px;
    background-color: white;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.nav-sx , .nav-dx {
    width: 30%;
    height: 80px;
    display: inline-block;
}

.nav-dx {
    position: absolute;
    right: 0;
    padding-right: 2em;
}

.menu-header {
    justify-content: space-between;
    align-items: center;
}

.menu-header li {
    line-height: 80px;
}

.menu-header a {
    font-size: 1.6rem;
    color: black;
    text-decoration: none;
}

/* JUMBOTRON */

.jumbotron {
    width: 100%;
    background-color: #b4d0e7;
    padding-top: 80px;
}

.title h1 {
    width: 100%;
    margin: 80px 0 50px;
    font-size: 8rem;
    font-weight: 900;
}

.container-items {
    width: 100%;
}

.item-jumbotron-sx {
    width: 35%;
    font-size: 1.6rem;
}

a.btn-cancel-jumbo {
    color: black;
    text-decoration: none;
}

.icon-jumbo-sx i {
    font-size: 5rem;
    padding-top: 1.5em;
}

.item-jumbotron-dx {
    width: 65%;
}

/* MAIN */
/* Tariff-plan */

.tariff-plan-columns {
    justify-content: space-between;
}

.title-tariff-plan {
    font-size: 1.4rem;
    border-bottom: .5px solid lightgray;
    padding: 1em 0;
}

.title-plan {
    width: calc(100% / 3 - 25px);
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
}

.title-plan i {
    margin-right: 1em;
}

.container-items-col{
    width: 100%;
    padding: 0 2.5em;
    padding-top: 2.5em;
}

.col-plan {
    width: calc(100% / 3 - 25px);
    border: .5px solid lightgray;
    margin-bottom: 20px;
    /* padding: 2.5em; */
}



span:nth-child(3) {
    color: gray;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 2em;
}

.fa-ul li:first-child{
    margin-top: 2em;
}

.fa-ul li:last-child{
    margin-bottom: 1.5em;
  }

.fa-ul li {
    padding: .8em 0;
    font-size: 1.4rem;
}

.buy-now-col {
    font-size: 1.4rem;
    margin: .8em 0;
}

.buy-now-col a {
    color: #0061ff;
}

.line-col-plan {
    width: 20%;
    margin: 4em 0;
}

.fa-check {
    color: #0061ff;
}

    /* tariff-plan-bottom */
.tariff-plan-bottom {
    width: 100%;
    font-size: 1.4rem;
    border: .5px solid lightgray;
    padding: 1em 0;
    margin-top: 2em;
}

.team {
    border-bottom: .5px solid lightgray;
    text-align: center;
    padding-bottom: .5em;
}

.container-col-plan-bottom {
    width: 90%;
    margin: 0 auto;
}

.col-plan-bottom {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-plan-bottom h5 {
    margin-bottom: 4em;
}

.btn-col-bottom {
    position: relative;
    
}

.btn-position {
    position: absolute;
    right: 0;
    top: 0;
}


/* Find-partner */
.find-partner {
    margin-top: 8em;
}

.img-partner {
    width: 60%;
}

.item-partner {
    width: 40%;
    padding: 4em;
}

.btn-partner {
    background-color: white;
    border: .5px solid black;
    padding: 15px 30px;
    margin-top: 2em;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
}

/* Operations */

.row-operations {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 8em;
}

.col-operation {
    width: calc(100% /3 - 20px);
}

/* Clients */
section.clients-text {
    margin-bottom: 14em;
}

.clients-text a {
    color: #0061ff;
    font-size: 1.6rem;
    
}

.sqr-big-client{
    width: calc(100% / 3);
}

.col {
    width: calc(100% / 2);
    /* DEBUG */
    height: 300px;
}

.col img , .bg-lightgray img{
    width: 50%;
}

.bg-red2,.bg-blu,.container-items {
    align-items: center;
}

.container-items.bg-lightgray {
    height: 500px;
    width: 80%;
}
.container-items {
    align-self: center;
}

.bg-lightgray img{
    padding: 4em 0;
}

.container-items hr {
    width: 20%;
    color: lightgray;
}

.container-items p:nth-child(3) {
    padding: 3em 0;
}

/* cta */

.cta {
    width: 100%;
    background-color: #b4d0e7;
    padding: 100px 0;
}
.cta > .container-small {

}

.container-cta {
    width: 50%;
    position: relative;
}

.text-cta {
    width: 60%;
}

.text-cta h2 {
    color: var(--bg-brown);
    margin: 0 0;
}

.button-cta {
    width: 40%;
    
   
}

.btn-cta {
    background-color: white;
    border: none;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
}

/* FAQ */
.faq {
    margin-bottom: 5em;
}
.question {
    position: relative;
}
.question span {
    position: absolute;
    right: 0;
}
hr:last-child {
    margin-bottom: 5em;
}


/* FOOTER */
footer {
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 8em;
    /* DEBUG */
    min-height: 600px;
}

.col-title-menu {
    width: calc(100% / 5);
}

.items-menu {
    display: flex;
    margin-bottom: 5em;
}

.list-footer {
    width: calc(100% / 5);
}

.list-footer a {
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    line-height: 2em;
}

.hr-footer {
    margin-top: 10em;
    width: 10%;
}

.lang {
    font-size: 1.6rem;
    color: gray;
}